{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Grow</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">

  {% block css %}
  {% endblock %}
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="{% static 'img/Grow Logo.png' %}" class="mr-2" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>

        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>


        <ul class="navbar-nav navbar-nav-right">



        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" >
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'apps:class' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">IOT</span>
              <i></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'apps:attendance' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Attendance Register</span>

            </a>
            <div class="collapse" >

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:emotion' %}" >
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Emotion Detection</span>
            </a>

            <div class="collapse" >

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="{% url 'apps:Bus_Tracking' %}">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Bus Locater</span>

            </a>
            <div class="collapse">
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Teacher Stats</span>

            </a>
            <div class="collapse" >
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Stranger Alert</span>
            </a>
          </li>
              <li class="nav-item">
            <a class="nav-link"href="">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Live Stats</span>

            </a>
            <div class="collapse">
            </div>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:students_stats' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Student Tracking</span>

            </a>
            <div class="collapse" >
            </div>
          </li>
        </ul>

      </nav>
      <!-- partial -->
       <div class="main-panel">
          {% block content %}
          {% endblock %}

       </div>



</div>


  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src=""></script>
  <script src=""></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->

  <script src="{% static 'js/template.js' %}"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
      {% block js %}
      {% endblock %}
  <script></script>
  <script src=""></script>
  <script src="{% static 'dropdown.js' %}"></script>
  <!-- End custom js for this page-->
  </div>
</body>

</html>

