{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div class="box">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<h2>Sign in</h2>
			<div class="inputBox">
				<input type="text" required="required" id="username" name="username">
				<span>Userame</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" required="required" id="password" name="password" >
				<span>Password</span>
				<i></i>
			</div>
			<div class="links">
				<a href="#">Forgot Password ?</a>
				<a href="#">Signup</a>
			</div>
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>